<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>UPSERGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:300' rel='stylesheet' type='text/css'>
  </head>
  <body style="background-color: #808080;">
    <div style="max-width: 44rem; margin: 0 auto; background-color: #fff;">
      <h1 style="font-family: 'Titillium Web', sans-serif; font-weight: 300; font-size: 6rem; text-align: center">UPSERGE</h1>
      <input type="file">
      <button>Upload</button>
    </div>

  </body>
</html>
